<div class="dashboard-container">
  <div class="dashboard-grid">
    <rkicovid-dashboard-item
      cardTitle="vaccinations.administeredVaccinations"
      [value]="vaccinations.data.administeredVaccinations"
      [isLoading]="loading"
    ></rkicovid-dashboard-item>
  </div>

  <h2 class="dashboard-heading" translate="vaccinations.firstVaccination"></h2>

  <div class="dashboard-grid">
    <ng-container *ngFor="let item of dashboardItems">
      <rkicovid-dashboard-item
        [cardTitle]="item.title"
        [value]="$any(vaccinations.data)[item.valueKey]"
        [isLoading]="loading"
        [difference]="item.difference ? $any(vaccinations.data)[item.difference] : 0"
        [format]="item.format"
        [unit]="item.unit"
      ></rkicovid-dashboard-item>
    </ng-container>
  </div>

  <div class="dashboard-grid">
    <ng-container *ngFor="let item of vaccinationItems">
      <rkicovid-dashboard-item
        [cardTitle]="item.title"
        [value]="$any(vaccinations.data.vaccination)[item.valueKey]"
        [isLoading]="loading"
      ></rkicovid-dashboard-item>
    </ng-container>
  </div>

  <h2 class="dashboard-heading" translate="vaccinations.secondVaccination"></h2>

  <div class="dashboard-grid">
    <ng-container *ngFor="let item of dashboardItems">
      <rkicovid-dashboard-item
        [cardTitle]="item.title"
        [value]="$any(vaccinations.data.secondVaccination)[item.valueKey]"
        [isLoading]="loading"
        [difference]="item.difference ? $any(vaccinations.data.secondVaccination)[item.difference] : 0"
        [format]="item.format"
        [unit]="item.unit"
      ></rkicovid-dashboard-item>
    </ng-container>
  </div>

  <div class="dashboard-grid">
    <ng-container *ngFor="let item of vaccinationItems" class="dashboard-item item-25">
      <rkicovid-dashboard-item
        *ngIf="item.secondVaccination"
        [cardTitle]="item.title"
        [value]="$any(vaccinations.data.secondVaccination.vaccination)[item.valueKey]"
        [isLoading]="loading"
      ></rkicovid-dashboard-item>
    </ng-container>
  </div>

  <h2 class="dashboard-heading" translate="vaccinations.boosterVaccination"></h2>

  <div class="dashboard-grid">
    <ng-container *ngFor="let item of dashboardItems" class="dashboard-item item-50">
      <rkicovid-dashboard-item
        *ngIf="item.boosterVaccination"
        [cardTitle]="item.title"
        [value]="$any(vaccinations.data.boosterVaccination)[item.valueKey]"
        [isLoading]="loading"
        [difference]="item.difference ? $any(vaccinations.data.boosterVaccination)[item.difference] : 0"
        [format]="item.format"
        [unit]="item.unit"
      ></rkicovid-dashboard-item>
    </ng-container>
  </div>

  <div class="dashboard-grid">
    <ng-container *ngFor="let item of vaccinationItems" class="dashboard-item item-25">
      <rkicovid-dashboard-item
        *ngIf="item.boosterVaccination"
        [cardTitle]="item.title"
        [value]="$any(vaccinations.data.boosterVaccination.vaccination)[item.valueKey]"
        [isLoading]="loading"
      ></rkicovid-dashboard-item>
    </ng-container>
  </div>

  <h2 class="dashboard-heading" translate="common.history"></h2>

  <div>
    <mat-card>
      <ng-container *ngIf="!loading; else loadingSpinner">
        <rkicovid-line-chart [chartOptions]="chartOptions"></rkicovid-line-chart>
      </ng-container>
    </mat-card>
    <ng-template #loadingSpinner>
      <mat-spinner [diameter]="64"></mat-spinner>
    </ng-template>
  </div>

  <rkicovid-footer *ngIf="!loading" [meta]="vaccinations.meta"></rkicovid-footer>
</div>
