<div class="dashboard" *ngIf="rkiGeneralData$ | async as generalData">
  <div class="dashboard-row">
    <div class="dashboard-item">
      <!-- <mat-card> -->
      <div class="data-from mat-elevation-z2">
        {{ 'common.dataFrom' | translate }} {{ generalData.lastUpdate | date: 'medium':undefined }}
      </div>
      <!-- </mat-card> -->
    </div>
  </div>
  <div class="dashboard-row">
    <app-dashboard-item
      class="dashboard-item"
      cardTitle="common.cases"
      caption="common.total"
      [value]="generalData.cases"
      [difference]="generalData.difference.cases"
    ></app-dashboard-item>

    <app-dashboard-item
      class="dashboard-item"
      cardTitle="common.weekIncidence"
      caption="common.total"
      [value]="generalData.weekIncidence"
    ></app-dashboard-item>

    <app-dashboard-item
      class="dashboard-item"
      cardTitle="common.casesPer100k"
      caption="common.total"
      [value]="generalData.casesPer100k"
    ></app-dashboard-item>

    <app-dashboard-item
      class="dashboard-item"
      cardTitle="common.recovered"
      caption="common.total"
      [value]="generalData.recovered"
      [difference]="generalData.difference.recovered"
    ></app-dashboard-item>

    <app-dashboard-item
      class="dashboard-item"
      cardTitle="common.deaths"
      caption="common.total"
      [value]="generalData.deaths"
      [difference]="generalData.difference.deaths"
    ></app-dashboard-item>
  </div>

  <div class="dashboard-row state-detail">
    <div class="dashboard-item">
      <app-state-detail></app-state-detail>
    </div>
  </div>
</div>
