.dashboard {
  display: flex;
  flex-direction: column;

  .dashboard-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    // &:not(:last-of-type) {
    //   margin-bottom: 16px;
    // }

    mat-card {
      width: 100%;
    }

    .dashboard-item {
      flex-grow: 1;
      padding: 8px;

      &:first-of-type {
        padding-left: 0px;
      }

      &:last-of-type {
        padding-right: 0px;
      }
      // border: 1px solid red;

      // &:not(:last-of-type) {
      //   margin-right: 16px;
      // }

      .data-from {
        background-color: #424242;
        padding: 16px;
        border-radius: 4px;
        color: #ffffff;
      }

      .mat-card-avatar {
        background-color: red;

        mat-icon {
          padding: 8px;
        }
      }

      mat-card-content {
        margin-top: 16px;
      }

      .dashboard-item-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

.critical {
  color: red;
}

.good {
  color: limegreen;
}
