<mat-card>
  <mat-form-field>
    <mat-label>Bundesland</mat-label>
    <mat-select (selectionChange)="onStateChange($event)">
      <mat-option *ngFor="let state of states" [value]="state.value">{{ state.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<ng-container *ngIf="timeseries$ | async as timeseries">
  <ng-container *ngIf="stateData$ | async as stateData">
    <div class="data-row">
      <app-dashboard-item
        class="row-item"
        cardTitle="common.casesState"
        [titleParams]="{ state: stateData.name }"
        caption="common.total"
        [value]="stateData.count"
      ></app-dashboard-item>

      <app-dashboard-item
        class="row-item"
        cardTitle="common.weekIncidenceState"
        caption="common.total"
        [titleParams]="{ state: stateData.name }"
        [value]="stateData.weekIncidence"
      ></app-dashboard-item>

      <app-dashboard-item
        class="row-item"
        cardTitle="common.casesPer100kState"
        caption="common.total"
        [titleParams]="{ state: stateData.name }"
        [value]="stateData.casesPer100k"
      ></app-dashboard-item>

      <app-dashboard-item
        class="row-item"
        cardTitle="common.deathsState"
        caption="common.total"
        [titleParams]="{ state: stateData.name }"
        [value]="stateData.deaths"
      ></app-dashboard-item>
      <!-- <app-dashboard-item class="row-item"></app-dashboard-item> -->
    </div>

    <mat-card>
      <h1 class="mat-display-1" translate="common.casesState" [translateParams]="{ state: stateData.name }"></h1>
      <app-line-chart [dataset]="timeseries" [series]="chartSeries" [yAxisConfig]="yAxisConfig"></app-line-chart>
    </mat-card>
  </ng-container>
</ng-container>
