.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  width: 100vw;
  height: calc(100vh - 64px);

  mat-sidenav {
    width: 240px;

    mat-nav-list {
      padding: 0;

      a {
        &.active {
          background: rgba(233, 30, 99, 0.15);
          color: #f492b4;
        }
      }
    }
  }

  .sidenav-menu {
    display: flex;
    flex-direction: column;

    .sidenav-menu-item {
      font-size: 16px;
      padding: 16px 0 16px 24px;
      cursor: pointer;

      &:hover {
        background: hsla(0, 0%, 100%, 0.04);
      }
    }
  }

  .sidenav-content {
    padding: 16px;
  }
}
