:host {
  // border: 1px solid red;
  color: white;
  // padding: 8px;

  .mat-subheading-2 {
    color: #eeeeee;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
