<mat-card>
  <div class="header">
    <mat-card-subtitle [translate]="cardTitle" [translateParams]="titleParams"></mat-card-subtitle>
    <mat-chip-list *ngIf="difference !== 0">
      <mat-chip color="primary" selected>
        <mat-icon *ngIf="difference > 0">trending_up</mat-icon>
        <mat-icon *ngIf="difference < 0">trending_down</mat-icon>

        <span *ngIf="difference > 0">+</span>
        <span>{{ difference | number: '1.0-0' }}</span>
      </mat-chip>
    </mat-chip-list>
  </div>

  <p class="mat-display-1">{{ value | number: '1.0-0' }}</p>
</mat-card>
