<div class="dashboard">
  <div class="dashboard-row">
    <div *ngFor="let item of dashboardItems" class="dashboard-item item-33">
      <rkicovid-dashboard-item
        [cardTitle]="item.title"
        [value]="$any(germany)[item.valueKey]"
        [difference]="$any(germany.delta)[item.valueKey]"
        [isLoading]="loading"
      ></rkicovid-dashboard-item>
    </div>
  </div>

  <div class="dashboard-row">
    <div class="dashboard-item item-33">
      <mat-card>
        <ng-container *ngIf="!loading; else loadingSpinner">
          <rkicovid-line-chart [chartOptions]="chartOptions"></rkicovid-line-chart>
        </ng-container>
      </mat-card>
      <ng-template #loadingSpinner>
        <mat-spinner [diameter]="64"></mat-spinner>
      </ng-template>
    </div>
  </div>

  <div *ngIf="!loading" class="dashboard-row">
    <rkicovid-footer [meta]="germany.meta"></rkicovid-footer>
  </div>
</div>
