<div class="dashboard">
  <div class="dashboard-row">
    <div *ngFor="let item of dashboardItems" class="dashboard-item">
      <rkicovid-dashboard-item
        [cardTitle]="item.title"
        [value]="$any(germany)[item.valueKey]"
        [difference]="$any(germany.delta)[item.valueKey]"
        [isLoading]="loading"
      ></rkicovid-dashboard-item>
    </div>
  </div>

  <div class="dashboard-row">
    <div class="dashboard-item">
      <mat-card>
        <ng-container *ngIf="!loading; else loadingSpinner">
          <rkicovid-line-chart [chartOptions]="chartOptions"></rkicovid-line-chart>
        </ng-container>
      </mat-card>
      <ng-template #loadingSpinner>
        <mat-spinner [diameter]="64"></mat-spinner>
      </ng-template>
    </div>
  </div>

  <div *ngIf="!loading" class="dashboard-row">
    <div class="meta mat-elevation-z1">
      <div class="meta-item">
        <strong translate="common.source"></strong>:
        <span>{{ germany.meta.source }}</span>
      </div>
      <div class="meta-item">
        <strong translate="common.lastUpdate"></strong>:
        <span>{{ germany.meta.lastUpdate | date: 'medium':undefined:currentLang }}</span>
      </div>
      <div class="meta-item">
        <strong translate="common.lastCheckedForUpdates"></strong>:
        <span>{{ germany.meta.lastCheckedForUpdate | date: 'medium':undefined:currentLang }}</span>
      </div>
    </div>
  </div>
</div>
