.dashboard {
  display: flex;
  flex-direction: column;

  .dashboard-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    // &:not(:last-of-type) {
    //   padding: 0 0 8px 0;
    // }

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    .dashboard-item {
      flex-basis: 30%;
      margin-bottom: 16px;
      flex-grow: 1;
      flex-shrink: 0;
      padding: 0 8px;
      max-width: 100%;

      // @media screen and (min-width: 768px) {
      //   &:not(:last-of-type) {
      //     padding-right: 8px;
      //   }
      // }

      // @media screen and (max-width: 768px) {
      //   &:not(:last-of-type) {
      //     padding: 0 0 8px 0;
      //   }
      // }
    }
  }
}
