/* You can add global styles to this file, and also import other style files */

@import './scss/dashboard';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #303030;
}

.mat-drawer {
  background-color: #303030;
}

h2.dashboard-heading {
  margin-top: 16px;
  margin-left: 4px;
  margin-bottom: 0;
}
